@{
    Layout = null;
}


<style>
    * {
        height: 100%;    
    }

    p {
    
        font-size: 100px;
        display: flex;
        justify-content:center;
        align-items: center;
    }

</style>


<p>Bạn đã bị cấm truy cập vào trang web</p>