<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Shop</title>
    <!-- Link icon tab -->
    <link rel="icon" href="../Bookstore/assets/images/logo.jpg" type="image/x-icon">
    <!-- Link css -->
    <link rel="stylesheet" href="../Bookstore/assets/css/style.css">
    <!-- Link Icon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Link boostrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/tinymce@5.9.2/themes/silver/theme.min.css" rel="stylesheet" />
</head>
<body>
    <div id="main">
        <!-- Header -->
        <div id="header">
            <div class="logo">
                <a asp-controller="Home" asp-action="User"><img src="../Bookstore/assets/images/logo.jpg" alt="Logo"></a>
            </div>
            <div class="nav">
                <ul class="nav-bar">
                    <li>
                        Trang chủ
                    </li>
                    <li>
                        Danh mục
                        <i class='bx bx-chevron-down'></i>
                        <ul class="menu">
                            <div class="list-menu">
                                <div class="item-list-menu">
                                    <h3><a href="">Sách</a></h3>
                                    <ul>
                                        <li><a href="#">Sách thiếu nhi</a></li>
                                        <li><a href="#">Sách văn học</a></li>
                                        <li><a href="#">Sách trinh thám</a></li>
                                        <li><a href="#">Sách có chữ kí</a></li>
                                        <li><a href="#">Văn phòng phẩm</a></li>
                                        <li><a href="#">Sách ngoại văn</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li>
                        Blog
                    </li>
                    <li><a href="#">Quỹ sách công cộng</a></li>
                    <li>
                        Về chúng tôi
                        <i class='bx bx-chevron-down'></i>
                        <ul class="menu">
                            <li><a href="#footer">Về Book Shop</a></li>
                            <li><a href="#">Chính sách thẻ thành viên</a></li>
                            <li><a href="#">Bảo hành trọn đời</a></li>
                            <li><a href="#">Chính sách đổi trả</a></li>
                            <li><a href="#">Hệ thống đổi hàng</a></li>
                            <li><a href="#">Q&A</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="right-header">
                <div class="search">
                    <i class='bx bx-search'></i>
                    <input type="text" placeholder="Tìm kiếm sản phẩm?">
                </div>
                <div class="actions">
                    <a href="./cart.html">
                        <i class='bx bxs-shopping-bag cart-header'></i>
                    </a>
                    <a asp-controller="Account" asp-action="Login">
                        <i class='bx bxs-user'></i>
                    </a>

                    <a asp-controller="Account" asp-action="Logout">
                        <i class='bx bxs-user'></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- End Header -->
        <!-- Slider -->
        <div id="slider">
            <img src="../Bookstore/assets/images/slider1.jpg" alt="Slider">
        </div>
        <!-- End Slider -->
        <!-- Content -->
        <div id="content">
            <!-- Sales -->
            <div class="home-sales">
                <h2 class="title">
                    Danh Sách sản phẩm
                </h2>
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- End Content -->
        <!-- Footer -->
        <div id="footer">
            <div class="row">
                <div class="contact-item col-sm-3">
                    <img src="../Bookstore/assets/images/logo.jpg" alt="">
                    <div class="social">
                        <i class='bx bxl-facebook'></i>
                        <i class='bx bxl-google'></i>
                        <i class='bx bxl-instagram'></i>
                        <i class='bx bxl-tiktok'></i>
                        <i class='bx bxl-youtube'></i>
                    </div>
                </div>
                <div class="contact-item col-sm-3">
                    <p>Giới thiệu</p>
                    <ul>
                        <li><a href="">Về Book Shop</a></li>
                        <li><a href="">Tuyển dụng</a></li>
                        <li><a href="">Hệ thống cửa hàng</a></li>
                    </ul>
                </div>
                <div class="contact-item col-sm-3">
                    <p>Dịch vụ khách hàng</p>
                    <ul>
                        <li><a href="">Chính sách điều khoản</a></li>
                        <li><a href="">Hướng dẫn mua hàng</a></li>
                        <li><a href="">Chính sách thanh toán</a></li>
                        <li><a href="">Chính sách đổi trả</a></li>
                        <li><a href="">Chính sách bảo hành</a></li>
                        <li><a href="">Chính sách vận chuyển</a></li>
                    </ul>
                </div>
                <div class="contact-item col-sm-3">
                    <p>Liên hệ</p>
                    <ul>
                        <li><a href="">Hotline</a></li>
                        <li><a href="">Email</a></li>
                        <li><a href="">Live Chat</a></li>
                        <li><a href="">Messenger</a></li>
                        <li><a href="">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Footer -->
    </div>
    <script src="../Bookstore/assets/js/main.js"></script>
</body>
</html>