<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Shop</title>
    <!-- Link icon tab -->
    <link rel="icon" href="../BookStoreRC/assets/images/logo.jpg" type="image/x-icon">
    <!-- Link css -->
    <link rel="stylesheet" href="../BookStoreRC/assets/css/style.css">
    <link rel="stylesheet" href="../BookStoreRC/assets/css/product_details.css">
    <link rel="stylesheet" href="../BookStoreRC/assets/css/responsiveMain.css">
    <!-- Link Icon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Link boostrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
</head>
<body>
    <div id="main">
        <!-- Header -->
        @Html.Partial("_PartielHeader")
        <!-- End Header -->
        <!-- Slider -->
        @RenderBody()         
        <!-- End Content -->
        <!-- Footer -->
        @Html.Partial("_PartialFooter")
        <!-- End Footer -->
    </div>

    <div class="filter-modal">
        <div class="filter-content-modal">
            <div class="header-filter-modal">
                <div class="filter-title">
                    Lọc & Sắp xếp
                </div>
                <div class="close-modal-btn">
                    <p>
                        Clear All
                    </p>
                    <i class='bx bx-x'></i>
                </div>
            </div>
            <div class="content-filter-modal">
                <div class="filter-apply">
                    <p>
                        Bộ lọc được áp dụng
                    </p>
                    <ul>
                        <li><i class='bx bx-x'></i>Nxb Kim Đồng</li>
                        <li><i class='bx bx-x'></i>Nxb Hà Nội</li>
                        <li><i class='bx bx-x'></i>20.000đ</li>
                        <li><i class='bx bx-x'></i>20.000đ</li>
                        <li><i class='bx bx-x'></i>20.000đ</li>
                        <li><i class='bx bx-x'></i>20.000đ</li>
                        <li><i class='bx bx-x'></i>20.000đ</li>
                        <li><i class='bx bx-x'></i>20.000đ</li>

                    </ul>
                </div>

                <div class="sort">
                    Lọc
                    <ul>
                        <li>
                            <p class="title-sidebar">Nhà xuất bản</p>
                            @await Component.InvokeAsync("NhaXuatBan")
                        </li>
                        <li>
                            <p class="title-sidebar">Mức giá</p>
                            <div class="sub-list-price">
                                <div class="item">
                                    <span>0 - 1.000.000đ</span>
                                    <span>1.000.000đ - 2.000.000đ</span>
                                    <span>2.000.000đ - 5.000.000đ</span>
                                    <span>5.000.000đ - 7.000.000đ</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-filter-modal">
                <button class="footer-filter-btn">Áp dụng >></button>
            </div>
        </div>
    </div>
    <!-- ScrollTop -->
    <button class="btn-scroll-top">
        <i class='bx bx-chevron-up'></i>
    </button>
    <script src="../BookStoreRC/assets/js/main.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>