<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Admin WebBanSach</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="icon" href="../Admin/images/fevicon.png" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="../Admin/css/bootstrap.min.css" />
      <!-- site css -->
      <link rel="stylesheet" href="../Admin/style.css" />
      <!-- responsive css -->
      <link rel="stylesheet" href="../Admin/css/responsive.css" />
      <!-- color css -->
      <link rel="stylesheet" href="../Admin/css/colors.css" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="../Admin/css/bootstrap-select.css" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="../Admin/css/perfect-scrollbar.css" />
      <!-- custom css -->
      <link rel="stylesheet" href="../Admin/css/custom.css" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">list
            <!-- Sidebar  -->
            <nav id="sidebar">
                @await Component.InvokeAsync("UserAdmin")
               <div class="sidebar_blog_2">
                  <h4>General</h4>
                  <ul class="list-unstyled components">
                     <li class="active">
                        <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-dashboard yellow_color"></i> <span>Bảng điều khiển</span></a>
                        <ul class="collapse list-unstyled" id="dashboard">
                           <li>
                              <a asp-controller="Home" asp-action="Admin"> <span>Danh mục sản phẩm</span></a>
                           </li>
                           <li>
                              <a asp-controller="HoaDon" asp-action="HoaDOnMuaHangAdmin"> <span>Thống kê chi tiết</span></a>
                           </li>
                        </ul>
                     </li>
                     <li><a href="#"><i class="fa fa-clock-o orange_color"></i> <span>...</span></a></li>
                     <li>
                        <a href="#" data-toggle="collapse" aria-expanded="false" ><i class="fa fa-diamond purple_color"></i> <span>...</span></a>
                        <!-- <ul class="collapse list-unstyled" id="element">
                           <li><a href="general_elements.html">> <span>General Elements</span></a></li>
                           <li><a href="media_gallery.html">> <span>Media Gallery</span></a></li>
                           <li><a href="icons.html">> <span>Icons</span></a></li>
                           <li><a href="invoice.html">> <span>Invoice</span></a></li>
                        </ul> -->
                     </li>
                     <li><a href="#"><i class="fa fa-table purple_color2"></i> <span>...</span></a></li>
                     <li>
                        <a href="#" data-toggle="collapse" aria-expanded="false" ><i class="fa fa-object-group blue2_color"></i> <span>...</span></a>
                        <!-- <ul class="collapse list-unstyled" id="apps">
                           <li><a href="email.html">> <span>Email</span></a></li>
                           <li><a href="calendar.html">> <span>Calendar</span></a></li>
                           <li><a href="media_gallery.html">> <span>Media Gallery</span></a></li>
                        </ul> -->
                     </li>
                     <li><a href="#"><i class="fa fa-briefcase blue1_color"></i> <span>...</span></a></li>
                     <li>
                        <a href="#">
                        <i class="fa fa-paper-plane red_color"></i> <span>...</span></a>
                     </li>
                     <!-- <li class="active">
                        <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Additional Pages</span></a>
                        <ul class="collapse list-unstyled" id="additional_page">
                           <li>
                              <a href="profile.html">> <span>Profile</span></a>
                           </li>
                           <li>
                              <a href="project.html">> <span>Projects</span></a>
                           </li>
                           <li>
                              <a href="login.html">> <span>Login</span></a>
                           </li>
                           <li>
                              <a href="404_error.html">> <span>404 Error</span></a>
                           </li>
                        </ul>
                     </li>
                     <li><a href="map.html"><i class="fa fa-map purple_color2"></i> <span>Map</span></a></li>
                     <li><a href="charts.html"><i class="fa fa-bar-chart-o green_color"></i> <span>Charts</span></a></li>
                     <li><a href="settings.html"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li> -->
                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
                <div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                            
                            <div class="right_topbar">
                                <div class="icon_info">
                                    <ul class="user_profile_dd">
                                        <li>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">My Profile</a>
                                                <a class="dropdown-item" href="#">Settings</a>
                                                <a class="dropdown-item" href="#">Help</a>
                                                <a asp-controller="Account" asp-action="Logout"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
              @RenderBody()
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="../Admin/js/jquery.min.js"></script>

      <script src="../Admin/js/popper.min.js"></script>
      <script src="../Admin/js/bootstrap.min.js"></script>
      <!-- wow animation -->
      <script src="../Admin/js/animate.js"></script>
      <!-- select country -->
      <script src="../Admin/js/bootstrap-select.js"></script>
      <!-- owl carousel -->
      <script src="../Admin/js/owl.carousel.js"></script> 
      <!-- chart js -->
      <script src="../Admin/js/Chart.min.js"></script>
      <script src="../Admin/js/Chart.bundle.min.js"></script>
      <script src="../Admin/js/utils.js"></script>
      <script src="../Admin/js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="../Admin/js/perfect-scrollbar.min.js"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
      <!-- custom js -->
    <script src="../Admin/js/custom.js"></script>
      <script src="../Admin/js/chart_custom_style1.js"></script>
    @RenderSection("Scripts", required: false)
   </body>

</html>