<div id="footer">
    <div class="row">
        <div class="contact-item col-sm-3">
            <img src="../BookStoreRC/assets/images/logo.jpg" alt="">
            <div class="social">
                <i class='bx bxl-facebook'></i>
                <i class='bx bxl-google'></i>
                <i class='bx bxl-instagram'></i>
                <i class='bx bxl-tiktok'></i>
                <i class='bx bxl-youtube'></i>
            </div>
        </div>
        <div class="contact-item col-sm-3">
            <p>Giới thiệu</p>
            <ul>
                <li><a href="">Về Book Shop</a></li>
                <li><a href="">Tuyển dụng</a></li>
                <li><a href="">Hệ thống cửa hàng</a></li>
            </ul>
        </div>
        <div class="contact-item col-sm-3">
            <p>Dịch vụ khách hàng</p>
            <ul>
                <li><a href="">Chính sách điều khoản</a></li>
                <li><a href="">Hướng dẫn mua hàng</a></li>
                <li><a href="">Chính sách thanh toán</a></li>
                <li><a href="">Chính sách đổi trả</a></li>
                <li><a href="">Chính sách bảo hành</a></li>
                <li><a href="">Chính sách vận chuyển</a></li>
            </ul>
        </div>
        <div class="contact-item col-sm-3">
            <p>Liên hệ</p>
            <ul>
                <li><a href="">Hotline</a></li>
                <li><a href="">Email</a></li>
                <li><a href="">Live Chat</a></li>
                <li><a href="">Messenger</a></li>
                <li><a href="">Liên hệ</a></li>
            </ul>
        </div>
    </div>
</div>