<div id="header">
    <div class="logo">
        <a href="./index.html"><img src="../BookStore/assets/images/logo.jpg" alt="Logo"></a>
    </div>
    <div class="nav">
        <ul class="nav-bar">
            <li>
                Trang chủ
            </li>
            @await Component.InvokeAsync("TheLoaiMenu")
            <li>
                Blog
            </li>
            <li><a href="#">Quỹ sách công cộng</a></li>
            <li>
                Về chúng tôi
                <i class='bx bx-chevron-down'></i>
                <ul class="menu">
                    <li><a href="#footer">Về Book Shop</a></li>
                    <li><a href="#">Chính sách thẻ thành viên</a></li>
                    <li><a href="#">Bảo hành trọn đời</a></li>
                    <li><a href="#">Chính sách đổi trả</a></li>
                    <li><a href="#">Hệ thống đổi hàng</a></li>
                    <li><a href="#">Q&A</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="right-header">
        <div class="menu-btn">
            <i class='bx bx-menu'></i>
        </div>
       
            <form method="get" action="@Url.Action("SearchBookByName", "Book")">
                <div class="search">
        @*            <i class='bx bx-search'></i>*@
                    <button type="submit" class="bx bx-search"></button>
                    <input type="text" name="tensach" class="form-control" placeholder="Search for books...">
                    
                </div>

            </form>
        
      


        <div class="actions">
            <a href="./cart.html">
                <i class='bx bxs-shopping-bag cart-header'></i>
            </a>
            <a href="./login.html">
                <i class='bx bxs-user'></i>
            </a>
        </div>
    </div>
</div>