@model WebBanSach.Models.TUser
@inject WebBanSach.Repository.Interface.IUserRepository _user
@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>EditUser</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserN" class="control-label">Tên người dùng</label>
                <input asp-for="UserN" class="form-control" />
                <span asp-validation-for="UserN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label">Địa chỉ</label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label">Số điện thoại</label>
                <input type="number" asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassW" class="control-label">Mật khẩu</label>
                <input asp-for="PassW" class="form-control" />
                <span asp-validation-for="PassW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleId" class="control-label">Quyền hạn</label>
                <select asp-for="RoleId" class="form-control" asp-items="(_user.GetRole()).Select(x => new SelectListItem{Value = x.RoleId, Text = x.RoleId})"></select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isActive" class="control-label">Trạng thái hoạt động</label>
                <select asp-for="isActive" class="form-control">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
                <span asp-validation-for="isActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Admin">Quay lại</a>
</div>

