@{
    Layout = "_LayoutLoginRegister";
}

@model WebBanSach.Models.Datas.RegisterModel

<form asp-controller="Account" asp-action="Register" class="content-login" method="post">

    @if (TempData["EmailUsed"] != null)
    {
        <div id="email-exists-message" class="alert alert-danger">
            @TempData["EmailUsed"]
        </div>
    }

    <img src="../BookStoreRC/assets/images/logo.jpg" alt="">
    <h2>
        Đăng kí tài khoản BookShop
    </h2>
    <input asp-for="Name" class="form-control" type="text" placeholder="Họ và tên của bạn">
    <span asp-validation-for="Name" class="text-danger"></span>
    <input asp-for="SDT" class="form-control" type="number" placeholder="Số điện thoại">
    <span asp-validation-for="SDT" class="text-danger"></span>
    <input asp-for="Email" class="form-control" type="text" placeholder="Nhập email">
    <span asp-validation-for="Email" class="text-danger"></span>
    <input asp-for="Password" type="password" class="form-control" placeholder="Mật khẩu">
    <span asp-validation-for="Password" class="text-danger"></span>
    <input asp-for="ConfirmPassword" type="password" placeholder="Xác nhận mật khẩu" />
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    <button type="submit" class="btn-login-primary">Đăng kí</button>
    <p>Bạn đã có tài khoản? <a asp-controller="Account" asp-action="Login">Đăng nhập</a></p>

 @*   <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>*@
</form>


<script>
    const emailused = document.querySelector('#email-exists-message');
    
    setTimeout(() => {
        emailused.remove();
    }, 3000);

</script>