@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model WebBanSach.Models.Datas.RegisterModel

<form asp-controller="Account" asp-action="Register" method="post">

    @if (TempData["EmailUsed"] != null)
    {
        <div id="email-exists-message" class="alert alert-danger">
            @TempData["EmailUsed"]
        </div>
    }
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>


<script>
    const emailused = document.querySelector('#email-exists-message');
    
    setTimeout(() => {
        emailused.remove();
    }, 3000);

</script>