
<div id="header">
    <div class="logo">
        <a asp-controller="Home" asp-action="Index"><img src="../BookStoreRC/assets/images/logo.jpg" alt="Logo"></a>
    </div>
    <div class="nav">
        <ul class="nav-bar">
            <li>
                Trang chủ
            </li>
            <li>
                Danh mục
                <i class='bx bx-chevron-down'></i>
                <ul class="menu">
                    <div class="list-menu">
                        <div class="item-list-menu">
                            <h3><a href="">Sách</a></h3>
                            <ul>
                                <li><a href="#">Sách thiếu nhi</a></li>
                                <li><a href="#">Sách văn học</a></li>
                                <li><a href="#">Sách trinh thám</a></li>
                                <li><a href="#">Sách có chữ kí</a></li>
                                <li><a href="#">Văn phòng phẩm</a></li>
                                <li><a href="#">Sách ngoại văn</a></li>
                            </ul>
                        </div>
                    </div>
                </ul>
            </li>
            <li>
                Blog
            </li>
            <li><a href="#">Quỹ sách công cộng</a></li>
            <li>
                Về chúng tôi
                <i class='bx bx-chevron-down'></i>
                <ul class="menu">
                    <li><a href="#footer">Về Book Shop</a></li>
                    <li><a href="#">Chính sách thẻ thành viên</a></li>
                    <li><a href="#">Bảo hành trọn đời</a></li>
                    <li><a href="#">Chính sách đổi trả</a></li>
                    <li><a href="#">Hệ thống đổi hàng</a></li>
                    <li><a href="#">Q&A</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="right-header">
        <div class="search">
            <i class='bx bx-search'></i>
            <input type="text" placeholder="Tìm kiếm sản phẩm?">
        </div>
        <div class="actions">
            <a asp-controller="Home" asp-action="Cart">
                <div class="header_cart">
                    <div class="header_cart-warp">
                        <i class='bx bxs-shopping-bag cart-header'></i>
                        <span class="badge">0</span>
                        <div class="header_cart_list no_cart">
                            <img src="/assets/images/empty_cart.png" alt="" class="header_cart-no-cart-img">
                            <p class="header_cart_list-no_cart_msg">
                                Chưa có sản phẩm
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            <div class="dropdown">
                <div class="dropdown__select">
                    <a class="dropdown__selected" href="./login.html">
                        <i class='bx bxs-user'></i>
                    </a>
                </div>
                @if (ViewBag.Userif != null)
                {
                    <ul class="dropdown__list">
                        <li class="dropdown__item">
                            <a asp-controller="user" asp-action="profile" class="dropdown__text">Thông tin tài khoản</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__text">Đơn mua</a>
                        </li>
                        <li class="dropdown__item">
                            <a asp-controller="account" asp-action="logout" class="dropdown__text">Đăng xuất</a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="dropdown__list">
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__text">Đăng nhập</a>
                        </li>
                    </ul>
                }

            </div>
        </div>
    </div>
</div>
