@inject WebBanSach.Repository.Interface.ICategoryRepository _categoryRepo
@inject WebBanSach.Repository.Interface.INhaXbRepository _nhaxbRepo
@inject WebBanSach.Repository.Interface.ILanguageRepository _languageRepo
@model TSach

<form asp-controller="Book" asp-action="Edit" method="post">
    <input asp-for="MaSach" type="hidden" />
    <div class="form-group">
        <label asp-for="TenSach" class="control-label"></label>
        <input asp-for="TenSach" class="form-control" />
        <span asp-validation-for="TenSach" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TacGia" class="control-label"></label>
        <input asp-for="TacGia" class="form-control" />
        <span asp-validation-for="TacGia" class="text-danger"></span>
    </div

    <div class="form-group">
        <label asp-for="MaTl" class="control-label"></label>
        <select asp-for="MaTl" asp-items="(await _categoryRepo.GetCategorys()).Select(x=> new SelectListItem() { Text = x.TenTl, Value = x.MaTl.ToString()})" class="form-control"></select>
        <span asp-validation-for="MaTl" class="text-danger"></span>
    </div
    <div class="form-group">
        <label asp-for="MaNg" class="control-label"></label>
        <select asp-for="MaNg" asp-items="(await _languageRepo.GetLanguages()).Select(x=> new SelectListItem() { Text = x.Mota, Value = x.MaNg.ToString()})" class="form-control"></select>
        <span asp-validation-for="MaNg" class="text-danger"></span>
    </div
    
    <div class="form-group">
        <label asp-for="MaTl" class="control-label"></label>
        <select asp-for="MaTl" asp-items="(await _nhaxbRepo.GetNXBs()).Select(x=> new SelectListItem() { Text = x.TenNxb, Value = x.MaNxb.ToString()})" class="form-control"></select>
        <span asp-validation-for="MaTl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DonGia" class="control-label"></label>
        <input asp-for="DonGia" class="form-control" />
        <span asp-validation-for="DonGia" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SoLuong" class="control-label"></label>
        <input asp-for="SoLuong" class="form-control" />
        <span asp-validation-for="SoLuong" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Mota" class="control-label"></label>
        <input asp-for="Mota" class="form-control" />
        <span asp-validation-for="Mota" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Anh" class="control-label"></label>
        <input asp-for="Anh" class="form-control" />
        <span asp-validation-for="Anh" class="text-danger"></span>
    </div

    <div class="form-group">
        <label asp-for="InActive" class="control-label"></label>
        <input asp-for="InActive" class="form-control" />
        <span asp-validation-for="InActive" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Update</button>
</form>
